.game {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
}
.player-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Tourney", cursive;
  color: #fdb927;
}

.player-controls {
  padding: 2.5% 0 2.5% 0;
  font-size: 1.2rem;
  color: #fdb927;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.player-controls > * {
  margin: 2.5% 0 0 0;
}

.player-image {
  border-radius: 100%;
  height: 200px;
}

.stats-form {
  padding: 1.5% 15% 0 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
}

.game-content {
  padding: 2.5% 0 2.5% 0;
  background-color: #1d428a;
  margin: 0 !important;
}
.submit-button {
  margin: auto;
  justify-self: center;
  margin-top: 2.5%;
}

@media (max-width: 992px) {
  .player-image {
    height: 150px;
  }
  .submit-button {
    margin-top: 7.5%;
  }
  .input-and-icon {
    flex-direction: column;
  }
}
.input-and-icon {
  justify-content: flex-start;
  display: flex;
  align-items: center;
}
